:root {
  --orange: #e74423;
  --si: 87px;
  --m: 50px;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
}

.container__home {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  border-bottom: 2px solid #a4bfdf;
  display: flex;
  justify-content: flex-end;
  width: 90vw;
  max-width: 1200px;
  margin: 20px auto 0;
}

.hero__img {
  width: 100%;
  max-width: 87px;
  object-fit: contain;
}

.container {
  display: grid;
  margin: 20px auto 0;
}

.container__pizza {
  grid-column: 1/2;
  grid-row: 1 /span 2;
  width: 90%;
  margin-left: var(--m);
}

.container__img {
  width: 100%;
}

.container__description {
  grid-row: 3;
  grid-column: 1/ span 2;
  margin-left: var(--m);
}

.container__title {
  width: max-content;
  font-weight: 400;
  font-size: 46px;
  line-height: 66px;
  color: var(--orange);
}

.container__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 70%;
}

.joinchat {
  bottom: 70px;
  left: 90%;
  position: relative;
  max-width: 60px;
}

.container__toMenu {
  margin-top: 115px;
  margin-left: 30px;
  grid-column: 2/3;
  position: relative;
  right: 28px;
}

.container__title2 {
  font-weight: 700;
  font-size: 107px;
  color: var(--orange);
}

.container__paragraph2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
}

.container__btn {
  align-items: flex-end;
  display: flex;
  grid-column: 2/3;
  grid-row: 2;
  margin-left: 30px;
}

.btn {
  box-sizing: border-box;
  width: 497px;
  height: 80px;
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 10px;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

@media (max-width: 1100px) {
  .container__title {
    font-size: 35px;
  }

  .container__toMenu {
    right: 0;
  }

  .container__title2 {
    font-size: 80px;
  }
}

@media (max-width: 1010px) {
  .container {
    margin: 0;
  }

  .container__pizza {
    width: 70%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 2;
    padding-top: 16px;
    margin: 0 auto;
    overflow: hidden;
  }

  .container__description {
    grid-row: 4;
    grid-column: 1/3;
    margin: 0 auto;
    width: 70vw;
  }

  .container__paragraph {
    width: 100%;
    font-size: 18px;
  }

  .container__title {
    line-height: normal;
  }

  .joinchat {
    position: fixed;
    left: auto;
    bottom: 8px;
  }

  .container__toMenu {
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 70%;
  }

  .container__btn {
    grid-row: 3;
    grid-column: 1/3;
    margin: 10px auto;
    align-items: center;
    width: 70vw;
  }

  .btn {
    width: 70vw;
  }

}

@media (max-width: 760px) {

  .container {
    width: 90vw;
    margin: 0 auto;
  }

  .container__pizza {
    margin: 0;
    width: 100%;
  }

  .container__description {
    margin: 0;
  }

  .container__title {
    width: 100%;
    font-size: 25px;
    font-weight: 100;
  }

  .container__paragraph {
    width: 90vw;
  }

  .container__paragraph2 {
    font-size: 18px;
    margin: 0;
  }

  .container__title2 {
    font-size: 60px;
  }

  .container__btn {
    width: 100%;
  }

  .container__toMenu {
    margin: 0;
    width: max-content;
  }

  .btn {
    width: 90vw;
  }

}

@media (max-width: 550px) {
  .hero__img {
    height: 60px;
    width: 60px;
  }

  .container__pizza {
    width: 95%;
  }

  .container__description {
    top: 50px;
    left: 15px;
  }

  .container__title {
    width: max-content;
    padding: 5px 0;
  }

  .container__title2 {
    font-size: 40px;
  }

  .container__paragraph {
    font-size: 14px;
  }

  .container__paragraph2 {
    padding-top: 15px;
    font-size: 12px;
  }

  .btn {
    font-size: 25px;
    width: 88vw;
    height: 50px;
  }

  .container__toMenu {
    width: 100%;
  }
}

@media (max-width: 375px) {
  :root {
    --siz: 50px
  }

  .container__title {
    font-size: 14px;
  }

  .container__paragraph {
    font-size: 12px;
    line-height: 14px;
  }

  .container__pizza {
    height: 277px;
  }

  .joinchat {
    max-width: var(--siz);
    min-width: var(--siz);
    height: var(--siz);
  }

  .joinchat__button {
    width: var(--siz);
    height: var(--siz);
  }
}

@media (max-width: 300px) {
  .container__pizza {
    height: auto;
  }

  .container__paragraph2 {
    padding: 0;
  }
}