@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
  --orange: #e74423;
  --si: 87px;
  --s: 60px;
  --m: 30px;
}

* {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  margin: 0;
}
body {
  margin-left: var(--m);
  margin-right: var(--m);
}
.hero {
  border-bottom: 2px solid #a4bfdf;
  display: flex;
  height: 110px;
  justify-content: flex-end;
  width: 100%;
}

.hero__img {
  height: var(--si);
  position: relative;
  right: 0;
  top: 20px;
  width: var(--si);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__pizza {
  width: 500px;
}

.container__img {
  width: 100%;
}

.container__title {
  width: 604px;
  height: 66px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;

  color: var(--orange);
}

.container__paragraph {
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.container__toMenu {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container__title2 {
  width: 100%;
  height: 155px;
  font-weight: 700;
  font-size: 107px;
  color: var(--orange);
}

.container__paragraph2 {
  width: 257px;
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.container__btn {
  position: relative;
  top: 380px;
}

.btn {
  box-sizing: border-box;
  width: 497px;
  cursor: pointer;
  background: transparent;
  padding: 20px;
  font-size: 30px;
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 10px;
}

.btn:hover {
  transform: scale(0.9);
}

.btn:active {
  background: var(--orange);
  color: #fff;
}

.joinchat {
  position: fixed;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  height: var(--s);
  min-width: var(--s);
  max-width: 95vw;
  background: var(--orange);
  color: inherit;
  border-radius: calc(var(--s) / 2);
  box-shadow: 1px 6px 24px 0 rgb(7 94 84 / 24%);
  transition: background-color 0.2s linear;
}

.joinchat__button {
  border: none;
  width: var(--s);
  height: var(--s);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0) url(../../assets/whatsapp.svg) 50% no-repeat;
  background-size: 60%;
  cursor: pointer;
  overflow: hidden;
}

.joinchat:hover {
  background: #eb5c3f;
}

@media (max-width: 1220px) {
  .container__title2 {
    font-size: 80px;
  }
  .container__btn {
    width: 350px;
  }
}

@media (max-width: 1120px) {
  .container {
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .container__pizza {
    height: 100px;
    width: 80%;
  }

  .container__toMenu {
    width: 100%;
    height: 90vh;
  }

  .container__btn {
    width: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: auto;
    bottom: 20px;
  }

}

@media (max-width: 760px) {
  
  .container__title {
    width: auto;
    font-size: 25px;
    font-weight: 100;
  }
  
  .container__title2 {
    font-size: 60px;
  }

  .btn {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .hero {
    height: 80px;
  }
  
  .hero__img {
    height: 60px;
    width: 60px;
  }

  .container__paragraph {
    width: 100%;
  }
  .container__title2 {
    font-size: 40px;
  }

  .container__btn {
    width: 90%;
    position: absolute;
    left: auto;
    top: auto;
    bottom: 20px;
  }

  .btn {
    padding: 14px;
    font-size: 25px;
    width: 280px;
  }
}

@media (max-width: 350px) {
  .container__title {
    font-size: 22px;
  }
  .container__title2 {
    font-size: 30px;
  }

  .container__paragraph2 {
    width: max-content;
    font-size: 16px;
  }

  .container__btn {
    width: 80%;
    position: absolute;
    top: auto;
    bottom: 20px;
  }

  .btn {
    padding: 14px;
    font-size: 20px;
    width: 100%;
  }
}
