:root {
  --orange: #e74423;
  --si: 87px;
  --m: 50px;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
}

.container__home {
  width: 100%;
  margin: 0 auto;
}

.hero {
  border-bottom: 2px solid #a4bfdf;
  display: flex;
  height: 110px;
  justify-content: flex-end;
  margin-left: var(--m);
  margin-right: var(--m);
}

.hero__img {
  height: var(--si);
  position: relative;
  top: 22px;
  width: var(--si);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container__pizza {
  padding-top: 28px;
  width: 600px;
  margin-left: var(--m);
}

.container__img {
  width: 100%;
}

.container__description {
  position: absolute;
  bottom: 88px;
  left: 45px;
}

.container__title {
  width: max-content;
  font-weight: 400;
  font-size: 46px;
  line-height: 66px;
  color: var(--orange);
  padding: 10px 0;
}

.container__paragraph {
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 860px;
}

.container__toMenu {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  position: absolute;
  left: 675px;
}

.container__title2 {
  font-weight: 700;
  font-size: 107px;
  color: var(--orange);
}

.container__paragraph2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
}

.container__btn {
  display: flex;
  align-items: flex-end;
  margin-left: 80px;
}

.btn {
  box-sizing: border-box;
  width: 497px;
  height: 80px;
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 10px;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

@media (max-width: 1245px) {
  .container__pizza {
    width: 500px;
  }

  .container__title {
    font-size: 35px;
  }

  .container__description {
    bottom: 190px;
  }

  .container__paragraph {
    width: 700px;
  }

  .container__toMenu {
    left: 570px;
  }

  .container__title2 {
    font-size: 80px;
  }

  .container__btn {
    margin-left: 60px;
  }
}

@media (max-width: 1120px) {
  .hero {
    margin: 0 5px;
  }

  .container__pizza {
    width: 88%;
    height: 659px;
    margin: auto;
    padding-top: 0;
    position: relative;
    top: 175px;
    overflow: hidden;
  }

  .container__description {
    position: relative;
    top: 250px;
    margin-top: 20px;
  }

  .container__paragraph {
    width: 685px;
    font-size: 18px;
  }

  .container__title {
    line-height: normal;
  }

  .container__toMenu {
    left: 60px;
    margin-top: 0;
    width: max-content;
  }

  .container__btn {
    position: relative;
    margin: auto;
    top: 80px;
  }

  .btn {
    width: 700px;
  }

}

@media (max-width: 760px) {
  .container__pizza {
    top: 145px;
  }

  .container__description {
    top: 210px;
  }

  .container__paragraph {
    width: 600px;
  }

  .container__title {
    width: 100%;
    font-size: 25px;
    font-weight: 100;
  }

  .container__toMenu {
    left: 40px;
  }

  .container__paragraph2 {
    font-size: 18px;
  }

  .container__title2 {
    font-size: 60px;
  }

  .container__btn {
    top: 50px;
  }

  .btn {
    width: 500px;
  }
}

@media (max-width: 715px) {
  .container__paragraph {
    width: 80vw;
  }
}

@media (max-width: 650px) {
  .container__description {
    top: 140px;
  }

  .container__btn {
    top: auto;
    bottom: 55px;
  }
}

@media (max-width: 550px) {
  .hero {
    height: 82px;
  }

  .hero__img {
    height: 60px;
    width: 60px;
  }

  .container__pizza {
    width: 95%;
  }

  .container__description {
    top: 50px;
    left: 15px;
  }

  .container__toMenu {
    left: 15px;
  }

  .container__title2 {
    font-size: 40px;
  }

  .container__paragraph2 {
    position: static;
    padding-top: 15px;
    font-size: 15px;
    width: 90vw;
  }

  .container__btn {
    bottom: 100px;
  }

  .btn {
    font-size: 25px;
    width: 88vw;
  }
}

@media (max-width: 375px) {
  .container__pizza {
    top: 115px;
    width: 85%;
    height: 520px;
  }

  .container__description {
    top: auto;
    bottom: 55px;
    left: 25px;
  }

  .container__title {
    font-size: 15px;
  }

  .container__paragraph,
  .container__paragraph2 {
    font-size: 12px;
    line-height: 14px;
  }

  .container__btn {
    bottom: 165px;
  }

  .btn {
    font-size: 20px;
    height: 50px;
  }

  .container__toMenu {
    left: 25px;
  }
}