.modal {
  position: fixed;
  bottom: 0px;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: none;
}

.is_open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  width: 40vw;
  min-height: 30vh;
  background-color: #fff;
  border-radius: 30px;
  padding: 80px;
}

.modal__container p {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 51px;
  color: #E74423;
}

.modal__logo {
  width: 15vw;
  max-width: 100px;
  object-fit: contain;
}

.modal__footer {
  display: flex;
  justify-content: space-around;
}