.modal__containerMenu {
  height: 75px;
  width: 250px;
  background-color: white;
  color: black;
  display: none;
  position: absolute;
  top: 80px;
  bottom: 0;
  right: 20px;
  font-size: 1.5rem;
  filter: drop-shadow(0px 0px 2px black);
}

.modal__containerMenu p {
  text-align: center;
  color: #2B303A;
}

.isOpen {
  display: flex;
  justify-content: center;
  align-items: center;
}