:root {
    --orange: #e74423;
    --s: 60px;
}

.joinchat {
    position: fixed;
    z-index: 2;
    bottom: 8px;
    right: 8px;
    height: var(--s);
    min-width: var(--s);
    background: var(--orange);
    color: inherit;
    border-radius: calc(var(--s) / 2);
    box-shadow: 1px 6px 24px 0 rgb(7 94 84 / 24%);
    transition: background-color 0.2s linear;
}

.joinchat__button {
    border: none;
    width: var(--s);
    height: var(--s);
    border-radius: 60%;
    background: rgba(0, 0, 0, 0) url(../../../assets/whatsapp.svg) 50% no-repeat;
    background-size: 60%;
    cursor: pointer;
    overflow: hidden;
}

.joinchat:hover {
    background: #eb5c3f;
}


@media (max-width: 550px) {
    .joinchat {
        right: 15px;
    }
}