:root {
  --colorHeading: #E74524;
  --itemInfo: #F3F2F3;
  --tabsContent: #F3F5FB;
  --tabsActive: #A0BED9;
  --buttonsLeft: #A4BFDF;
}


.item {
  display: flex;
  background-image: url('../../assets/Rectangle_10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 370px;
  height: 572px;
  height: auto;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  padding: 22px 22px 29px 22px;
}

.item__header h2 {
  color: var(--colorHeading);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline;
}

.item__header--price {
  text-align: right;
  color: var(--colorHeading);
  font-size: 3rem !important;
  font-weight: bold;
  display: inline;
  margin-bottom: 5px;
  margin-top: 5px;
}

.item__header h3 {
  font-size: 1.4rem;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 7px;
  line-height: 16.41px
}

.item__header--text {
  font-size: 3rem;
  font-weight: 700;
  font-family: Jost;
  display: flex;
  justify-content: space-between;
}

.item__image {
  margin-top: 20pxpx;
  border-radius: 100%;
}

.item__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.item__buttons--right {
  width: 100px;
  height: 32px;
  font-size: 2rem;
  font-weight: bold;
  background: var(--colorHeading);
  border-radius: 10px;
  border: none;
  color: white;
}

.item__buttons--left {
  background-color: var(--buttonsLeft);
  border: 1px solid #A4BFDF;
  border-radius: 10px;
  height: 32px;
  width: 32px;
  font-size: 1.4rem;
  color: white;
}

.item__buttons--center {
  margin: 0 4px 0 4px;
  width: 26px;
  font-size: 1.8rem;
  height: 32px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(164, 191, 223, 0.5);
  border-radius: 10px;
}

.item__header h2 {
  text-align: right;
  display: block;
  margin-bottom: 7px;
}