:root {
  --colorHeading: #E74524;
  --itemInfo: #F3F2F3;
  --tabsContent: #F3F5FB;
  --tabsActive: #A4BFDF;
}

.ListOfItems__header {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto
}

.ListOfItems__header h2 {
  color: var(--colorHeading);
  font-size: 4rem;
  margin-bottom: 10px;
}

.ListOfItems__header div {
  width: 90vw;
  max-width: 1440px;
  margin-top: 5px;
  height: 1px;
  background-color: var(--tabsActive);
}

@media screen and (max-width: 460px) {
  .ListOfItems__header h2 {
    font-size: 3rem;
  }
}