:root {
  --colorHeading: #E74524;
  --itemInfo: #F3F2F3;
  --tabsContent: #F3F5FB;
  --tabsActive: #A0BED9;
}

.header-menu {
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.header-menu h1 {
  font-size: 7rem;
  color: var(--colorHeading);
}

.header-menu img {
  height: 100%;
}

.tabs-menu {
  display: flex;
  width: 100vw;
  margin: 25px auto;
  font-size: 2rem;
  justify-content: space-evenly;
  background-color: var(--tabsContent);
  padding: 10px
}