.item {
  display: flex;
  background-image: url('../../../assets/Rectangle_10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  min-width: 200px;
  width: 100%;
  max-width: 320px;
  height: 90%;
  flex-direction: column;
  border-radius: 10px;
  padding: 22px 22px 29px 22px;
}

.item__header h2 {
  color: #E74423;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 5px;
  padding-right: 23px;
  display: block;
  font-family: Jost
}

.item__header h3 {
  font-size: 1.4rem;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 7px;
  line-height: 16.41px;
  color: #2B303A;
}

.item__header--text {
  font-size: 3rem;
  font-weight: 700;
  font-family: Jost;
  display: flex;
  justify-content: space-between;
}

.item__image {
  margin-top: 20px;
  border-radius: 100%;
  max-width: 320px;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}

.item__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  padding: 0px 20px 0px 20px
}

.item__buttons--right {
  width: 100px;
  height: 28px;
  font-size: 2rem;
  font-weight: bold;
  background: #E74423;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Jost;
  font-weight: 700;
}

.item__price {
  text-align: right;
}

.item__buttons--left:active,
.item__buttons--right:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(2px)
}

@media screen and (max-width:560px) {
  .item__header h2 {
    font-size: 2rem;
  }

  .item__header h3 {
    font-size: 1.3rem;
  }

  .item__image {
    max-width: 250px;
    width: 100%;
    min-width: 200px;
  }

  .item {
    min-width: 200px;
    width: 100%;
    max-width: 215px;
    margin: 0 auto;
  }

  .item__buttons--right {
    width: 81px;
    height: 23px;
    font-size: 1.5rem;
  }

  .item__buttons--left {
    height: 23px;
    width: 23px;
    font-size: 1.2rem;
  }

  .item__buttons--center {
    width: 22px;
    font-size: 1.2rem;
    height: 22px;
  }

}