.itemOfCart__button {
  background: #E74423;
  height: 41px;
  width: 41px;
  border: none;
  border-radius: 100%;
  margin-top: 15px;
  color: white;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 23px;
  cursor: pointer;
}

.itemOfCart__button:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.25);
  transform: translateY(2px)
}

.itemsOfCart__container {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  min-height: 218px;
  border-top: 2px #A4BFDF solid;
  border-bottom: 2px #A4BFDF solid;
  margin-bottom: 5px;
}

.itemsOfCart__empty {
  font-size: 4rem;
  text-align: center;
  margin-top: 60px;
}

@media screen and (max-width: 960px) {
  .itemsOfCart__container {
    min-height: 100px;
  }
}