.itemOfCart__button {
  background: #E74423;
  height: 41px;
  width: 41px;
  border: none;
  border-radius: 100%;
  margin-top: 15px;
  color: white;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 23px;
  cursor: pointer;
}

.itemOfCart__button:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(2px)
}

.itemsOfCart__container {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  height: auto;
  min-height: 400px;
  border-top: 2px #A4BFDF solid;
  border-bottom: 2px #A4BFDF solid;
}